@import './style.scss';

body {
  background-color: get-colour('dark-grey');
  box-sizing: border-box;
  min-height: 100vh;
}
.background_color {
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0) -30%, get-colour('black-bg'));
}
.main-header {
  background-color: white;
  margin: 0 auto;
  padding: 0 8px;
}
.false {
  display: none !important;
}
.home-container {
  height: 100%;
  padding: 40vh 0;
  display: flex;
  align-self: center;
  justify-self: center;
  z-index: 9999;
  .choices {
    width: 760px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    z-index: 9999;
    li {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
  .login {
    width: 100%;
    display: grid;
    padding: 0;
    text-align: center;
    align-self: center;
    justify-self: center;
    z-index: 9999;
    p {
      margin-bottom: 32px;
    }
    * {
      margin: 0 auto;
      button {
        font-size: 14px;
      }
    }
  }
}

.refresh_token {
  font-size: 12px;
  opacity: .5;
  position: absolute;
  bottom: 24px;
  left: 32px;
  z-index: 999;
}