<app-navigation></app-navigation>
<div class="container">
    <div class="wrapper">
        <div class="versus-grid">
            <div class="user-column">
                <app-user-profile *ngIf="current_user" [user]="current_user"></app-user-profile>
                <div class="cu-data-vis" *ngIf="current_user_data">
                    <app-tabs (tabbed)="changeTab($event)" [tabs]="tabs" [ngSwitch]="active_tab" [active_tab]="active_tab">
                        <app-cu-playlist-data [data]="current_user_data.playlists" *ngSwitchCase="'playlist'"></app-cu-playlist-data>
                        <app-cu-albums-data *ngSwitchCase="'albums'"></app-cu-albums-data>
                        <app-cu-tracks-data *ngSwitchCase="'tracks'"></app-cu-tracks-data>
                    </app-tabs>
                </div>
            </div>
            <div class="user-column" [ngSwitch]="opponent">
                <div class="search-container" *ngSwitchCase="null">
                    <app-user-search (searched)="onArtistSearch($event)"></app-user-search>
                    <app-search-results [results]="searchResults" (selectedArtist)="onArtistSelect($event)"></app-search-results>
                </div>
                <div class="opponent-wrapper" *ngSwitchDefault>
                    <i-x class="remove-opponent" (click)="clearOpponent()"></i-x>
                    <app-user-profile [user]="opponent"></app-user-profile>
                </div>
            </div>
        </div>
    </div>
</div>