<app-navigation></app-navigation>
<div class="container">
    <div class="wrapper">
        <div class="versus-grid">
            <div class="user-column">
                <app-user-profile [user]="current_user"></app-user-profile>
            </div>
            <div class="user-column" [ngSwitch]="opponent">
                <div class="search-container" *ngSwitchCase="null">
                    <app-user-search (searched)="onArtistSearch($event)"></app-user-search>
                    <app-search-results [results]="searchResults" (selectedArtist)="onArtistSelect($event)"></app-search-results>
                </div>
                <app-user-profile *ngSwitchDefault [user]="opponent"></app-user-profile>
            </div>
        </div>
    </div>
</div>