.absolute-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100vh;
  width: 100vw;

  z-index: 0;

  background: linear-gradient(rgba(0,0,0,0) -30%,#181818);
}

.app {
  position: relative;
  text-align: center;
  background-color: #3B3738;
  
}

.app-container {
  position: relative;
}

.user-header {
  // background-color: get-colour('black');
  // background: linear-gradient(rgba(0,0,0,0) -30%,#181818);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  // font-size: 72px;
  color: #1e3264;
  h1 {
    font-size:72px;
    line-height:82px;
    letter-spacing:-.005em;
    margin: 2rem auto 1rem;
  }
  h4 {
    margin: 0 auto;
    color: hsla(0,0%,100%,.6);
    font-weight: 500;
  }
}
.user-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.playlist_overlay_background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  
  background: rgba(0,0,0,0.5);
}

.playlist_overlay {
  position: absolute;
  width: 80%;
  margin: 10% 10%;
  // height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  
  background-color: #3B3738;
  .playlist_overlay_wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) -30%,#181818);
    .close {
      position: absolute;
      top: 48px;
      right: 68px;
      transition: .5s;
      cursor: pointer;
      &:hover {
        color: hsla(0,0%,100%,.6);
        transition: .5s;
      }
    }
    header {
      padding: 24px;
      display: grid;
      grid-template-columns: 45% 1fr;
      .meta_box {
        padding: 24px 48px;
        text-align: left;
        h1 {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -.005em;
        }
        h3 {
          color: hsla(0,0%,100%,.6);
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -.005em;
        }
        .playlist_stats {
          height: 150px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          > div {
            height: 100%;
            width: 100%;
            .progression-circle {
              display: block;
            }
          }
        }
      }
    }
    .playlist_content {
      padding: 24px 24px 48px;
    }
  }
}


// playlists
.playlist_container {
  padding: 0 32px;
  max-width: 1400px;
  margin: 0 auto;
}
.playlist_single_container {
  padding: 0 8px;
  .playlist_image {
    background-color: #282828;
    position: relative;
    cursor: pointer;
    &:hover {
      .playlist_image_overlay {
        opacity: 1;
        transition: .2s;
      }
    }
    .playlist_image_overlay, .playlist_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .playlist_image_overlay {
      display: grid;
      justify-content: center;
      align-content: center;
      opacity: 0;
      transition: .2s;
      
      background-color: rgba(0,0,0,.5);
    }
  }
  .playlist_title {
    padding-bottom: 2.5rem;
    h4 {
      font-weight: 500;
      margin: 12px 0 4px;
      cursor: pointer;
    }
    h6 {
      margin: 0 auto;
      font-weight: 400;
      color: hsla(0,0%,100%,.6);
    }
  }
}


.react-grid-Canvas, .react-grid-Cell, .react-grid-Row, .react-grid-HeaderCell, .react-grid-HeaderRow, .react-grid-Header, .react-grid-Grid, .react-grid-Main, .react-grid-Toolbar, .react-grid-Grid, .react-grid-Container {
  background-color: none !important;
  background: none !important;
  color: hsla(0,0%,100%,.6) !important;
  text-align: left;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
.react-grid-Cell, .react-grid-HeaderCell {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  height: 100% !important;
}
.react-grid-Cell {
  transition: .5s;
  &:hover {
    transition: .5s;
    width: auto !important;
    background-color: #282828 !important;
    z-index: 9999999;
    div {
      div {
        span {
          div {
            transition: .5s;
            color: hsla(0,0%,100%,1) !important;
          }
        }
      }
    }
  }
  div {
    div {
      span {
        div {
          transition: .5s;
          color: hsla(0,0%,100%,.6) !important;
          z-index: 9999999;
        }
      }
    }
  }
}
.react-grid-Row {
  height: 48px !important;
  border-bottom: 1px solid hsla(0,0%,100%,.3);
}
.react-grid-Grid {
  border: none !important;
}
.react-grid-Toolbar {
  border: solid transparent 0px;
  border-width: 0px !important;
  .tools {
    button {
      background: transparent;
      color: white;
    }
  }
}