@import "../../scss/style";

body {
  background-color: black;
  text-transform: capitalize;
}

#container {
  display: flex;
}

#display {
  width: 70%;
  height: 100vh;
  flex: 0 0 65%;
  padding: 5vh 5vw 5vh 10vw;
  #played {
    width: 100%;
    list-style: none;
    overflow-y: hidden;
    #latest{
      height: 440px;
      .list {
        width: 100%;
        text-align: left;
        th {
          border-bottom: 1px solid #777;
          .see-all {
            text-align: right;
            font-weight: normal;
            font-size: 12px;
            opacity: 0.8;
            &:hover {
              text-decoration: underline;
              opacity: 1;
              cursor: pointer;
            }
          }
        }
        .row {
          td {
            border-bottom: 1px solid #222;
          }
          .track {
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 5px 40px 5px 5px;
          }
          .artist{
            width: 30%;
            max-width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 20px 0px 0px;
          }
          .timestamp {
            width: 100px;
            color: #777;
            font-size: 12px;
            text-transform: lowercase;
          }
        }
      }
    }
  }
}




#title {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100vh;
  display: inline-block;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  #bg-img {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  .wrapper {
    padding: 5vh 30px;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
  }
}

.active {
  height: 1000px !important;
}
